<div class="img"></div>
<header>
    <div class="nav-container">
        <div class="info-text">
            <a href="index"><span>List</span> Editor</a>
        </div>
        <div class="nav-group">
            <div class="nav" id="home">
                <a href="dashboard">
                    <img src="assets/dashboard.svg" class="flag-icon">
                    <h3 class="nav-title">Dashboard</h3>
                </a>
            </div>
            <div class="dropdown">
                <button class="dropbtn" id="dropbutton">
                    <img src="assets/country.svg" class="flag-icon" />
                    <h3 class="nav-title">Universal List</h3>
                </button>
                <div class="dropdown-content" id="dropdownContent">
                    <a href="universal-list">Universal List</a>
                    <a href="eio-list">Indonesian List</a>
                    <a href="voc-list">Vietnamese List</a>
                    <a href="ukr-list">Ukraine List</a>
                    <a href="koc-list">Korean List</a>
                    <a href="mys-list">Malaysian List</a>
                </div>
            </div>
            <div class="nav">
                <a href="statistics">
                    <img src="assets/stats.svg" class="flag-icon" />
                    <h3 class="nav-title">Player Stats</h3>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="top-block"></div>