<nav class="lists">
    <div>
        <a href="" onClick=" onRouteClick('a'); return false; ">
            <h1>Main List</h1>
        </a>
    </div>
    <div>
        <a href="" onClick=" onRouteClick('b'); return false; ">
            <h1>Legacy List</h1>
        </a>
    </div>
</nav>
<section class="option">
    <div class="title">
        <h1 id="type-list">MAIN LIST</h1>
    </div>
</section>
<div id="features" class="main">
    <div class="feature-cards" id="cards-container"></div>
</div>
<div id="features" class="legacy">
    <div class="feature-cards" id="legacy-container"></div>
</div>